@inject NavigationManager NavigationManager
<button @onclick="EditVak">Edit vak</button>

@code {
    [Parameter]
    public int? id { get; set; }

    [Parameter]   
    public string? route { get; set; }

    void EditVak()
    {
        NavigationManager.NavigateTo($"/{route}/{id}");
    }
}

