@page "/leerkrachten"
@inject ILeerkrachtService LeerkrachtService
@attribute [StreamRendering]
@rendermode InteractiveServer
<h3>LeerkrachtList</h3>

@if (leerkrachten == null)
{
    <span> Laden....</span>
}
else if (leerkrachten.Count() == 0)
{
    <span> Er zijn geen vakken beschikbaar.</span>
}
else
{
    <ul>
        @foreach (var leerkracht in leerkrachten)
        {
            <li>@leerkracht.Naam <EditItemButton id="leerkracht.Id" route="EditVak" /> </li>
        }
    </ul>
}
<CreateItemButton route="EditVak"></CreateItemButton>


@code {
    List<Leerkracht> leerkrachten = new List<Leerkracht>();

    protected override async Task OnInitializedAsync()
    {
        leerkrachten = await LeerkrachtService.GetAllLeerkrachten();

    }


}
