@page "/vakken"
@inject IVakService VakService
@attribute [StreamRendering]
<h3>VakList</h3>

@if(vakken == null)
    {
       <span> Laden....</span>
    }
 else if(vakken.Count() == 0)
{
    <span> Er zijn geen vakken beschikbaar.</span>
}
else
{
    <ul>
        @foreach(var vak in vakken)
        {
            <li>@vak.Naam</li>
        }
    </ul>
}

@code {
    List<Vak> vakken = new List<Vak>();

    protected override async Task OnInitializedAsync()
    {
        vakken = await VakService.GetAllVakken();

    }
}
